* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

/* removing the default css of a tags */
a {
  text-decoration: none;
}

/* removing the default css of li tags */
li {
  list-style: none;
}

body {
  margin: 0 15vw;
}
.navRight {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
nav img {
  width: 25px;
  height: 25px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  font-weight: 700;
  font-size: 14px;
  color: white;
}
nav ul li:first-child a {
  margin-left: 10px;
}
.shop {
  background: #1e1e21;
  border-radius: 8px;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 40px;
  cursor: pointer;
}
main {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  position: relative;
}

.mainImg {
  width: 230px;
  position: relative;
  top: -250px;
  left: 70px;
}
.onEarImg {
  width: 320px;
  margin-left: 50px;
}
.homeContent {
  margin-left: 180px;
}

.home h1 {
  font-weight: 600;
  font-size: 46px;
  margin-bottom: 15px;
}

.home h4 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}

.home p {
  width: 65%;
  font-size: 12px;
  font-weight: 300;
  color: #bdc0c2;
  line-height: 20px;
  margin-bottom: 25px;
}
.addToBag {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  background: #1e1e21;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
}

.addToBag img {
  width: 15px;
  background-color: transparent;
}

.addToBag pre {
  margin: 0;
  color: white;
  background-color: transparent;
}

.addToBag span {
  background-color: transparent;
  font-weight: 700;
}
/* designing the social media section */
.socialMedia {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  top: -50px;
  margin-bottom: 40px;
  margin: 0px 15vw;
}

.socialMedia img {
  scale: 0.8;
}
/* designing the specification section */
.specification {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15vw;
}

.specificationLogo,
.caseLogo {
  scale: 0.8;
  margin-bottom: 20px;
}

.specificationList {
  display: flex;
}

.specificationList img {
  scale: 0.8;
}

.specificationListItems div {
  margin-bottom: 20px;
}

.specificationListItems div img {
  scale: 0.8;
}

.specificationListItems div p {
  font-size: 12px;
}

.specificationListItems div p:last-child {
  color: #bdc0c2;
  font-size: 10px;
  margin-top: 5px;
  width: 70%;
}

.specificationListItems div:first-child,
.specificationListItems div:last-child {
  margin-left: 30px;
}
/* designing the case section */
.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 15vw;
}

.caseItem {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.caseItem-img {
  scale: 0.8;
}

.caseItem div {
  width: 25%;
}

.caseItem div p:first-child {
  color: #bdc0c2;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}

.caseItem div p:last-child img {
  scale: 0.8;
  background-color: transparent;
}

.caseItem div p:last-child {
  width: fit-content;
  background: #1e1e21;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  padding: 10px 20px;
}
/* buy product section */
.buyProduct {
  background: #181a1b;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 70px;
  padding: 40px 0;
  width: 80%;
  margin: 0px auto;
}

.buyProduct div,
.buyProduct p,
.buyProduct h3,
.buyProduct img {
  background-color: transparent;
}

.buyProduct div {
  width: 20%;
}

.buyProduct div h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.buyProduct div p {
  color: #bdc0c2;
  font-size: 14px;
  margin-bottom: 15px;
}

.buyProduct div div {
  display: flex;
  align-items: center;
  width: fit-content;
  background: #000000;
  border-radius: 8px;
  padding: 10px 20px;
}

.buyProduct div div img {
  scale: 0.8;
  margin-right: 10px;
}

.buyProduct div div p {
  margin-bottom: 0;
  font-size: 12px;
  color: white;
}
/* designing the product section for displaying the items */
.product {
  display: flex;
  flex-direction: column;
  margin: 0 150px;
}

.productLogo {
  display: flex;
  flex-direction: column;
}

.productLogo {
  scale: 0.3;
}

.productItems {
  display: grid;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-left: 50px;
  margin: 0px auto;
}

.productCard {
  position: relative;
  width: 130px;
  height: 130px;
  background: #181a1b;
  border-radius: 8px;
}

.productImg {
  width: 75px;
  height: 100px;
  position: absolute;
  z-index: 100;
  top: -40px;
  left: 28px;
}

.productImg,
.productCard p,
.productCard span,
.productCard img,
.productCard div {
  background-color: transparent;
}

.productInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 15px;
}

.productInfo p {
  font-size: 12px;
}

.productInfo p span {
  color: #bdc0c2;
}

.productInfo div {
  background: #0a0a0b;
  border-radius: 8px;
  padding: 2px 6px;
}

.productInfo div img {
  width: 13px;
  height: 13px;
}
/* designing the footer section */
footer {
  margin: 100px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.footerLogo {
  scale: 0.8;
}

ul li a {
  font-size: 12px;
  color: #bdc0c2;
}

ul li:first-child a {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

ul li:first-child {
  margin-bottom: 10px;
}

.footerSubscription {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerSubscription div:first-child {
  background: #181a1b;
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
}

.footerSubscription div:first-child input {
  border: none;
  background-color: transparent;
}

.subscribeButton {
  background: #0a0a0b;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.subscribeButton img {
  scale: 0.8;
}

.subscribeButton p {
  font-size: 12px;
}

.footerSubscription div:last-child img {
  margin-right: 10px;
  scale: 0.8;
}

.arrowUp {
  position: absolute;
  right: -160px;
  scale: 0.8;
}
